#datos{
    background-color: lightsalmon;
    

    font-size:  30px ;
}
.m{
  font-size: 50px; 
}
body{
  background-image: url('');
  background-size: cover;
  background-position: center; 
  background-color: rgb(206, 205, 255);

  
}
.menu{
  text-decoration: none;/*quita el subrrallado de mi menu*/
  color: black;
  margin-right: 25px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.datos{
  font-size: 50px;
}
.his{
  font-size: 25px;
}


